[Unit]
Description=Start KTitreur service
After=dev-mmcblk0p2.device network.target

[Service]
User=root
Type=simple
#RemainAfterExit=no
ExecStart=/usr/bin/python /root/KTitreur/main.py 3742
ExecStop=/usr/bin/fuser -k 3742/udp
Restart=always
RestartSec=1

[Install]
WantedBy=multi-user.target
